.expenses-container {
  background: #f0f0f0;
  display: block;
  max-width: 100%;
  width: fit-content;
  overflow-x: scroll;
  display: flex;
}

.expenses-container td {
  padding: .25rem;
  text-align: center;
}

td.instalment {
  background: #bdbaff;
}

.expenses-modal {
  background: #ffffff59;
  position: absolute;
  height: calc(100vh);
  width: 100vw;
  top: 0;
  left: 0;
  cursor: not-allowed;
  z-index: 2;
  backdrop-filter: blur(2px);
}

.expenses-modal > div {
  user-select: none;
  padding: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
  z-index: 1000;
}

.expenses-modal-form > select, .expenses-modal-form > input, .expenses-modal-form > button {
  width: 100%;
}

.expenses-modal-form > input[type="date"], .expenses-modal-form > input[type="number"], .expenses-modal-form > textarea {
  width: calc(100% - 8px);
}

.overview-modal {
  background: #ffffff59;
  position: absolute;
  height: calc(100vh);
  width: 100vw;
  top: 0;
  left: 0;
  cursor: not-allowed;
  z-index: 2;
  backdrop-filter: blur(2px);
}

.overview-modal > div {
  user-select: none;
  padding: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  cursor: default;
  z-index: 1000;
}

.expenses-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -1rem;
  backdrop-filter: blur(2px);
  z-index: 10000;
  background: #ffffff59;
}

.expenses-loading > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

textarea {
  resize: none;
}

td {
  text-align: center !important;
}

.expenses-table-container {
  border-radius: 1rem;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  th > div {
    width: calc(100vw - 6rem) !important;
  }

  div.expenses-card {
    max-height: calc(100vh - 6rem) !important;
  }

  td {
    font-size: 2.5vw !important;
  }

  .expenses-table-container {
    max-height: calc(100vh - 16rem) !important;
  }

  .expenses-modal > div {
    width: calc(100vw - 6rem);
  }

  .overview-modal > div {
    width: calc(100vw - 6rem);
  }
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
  th > div {
    width: calc(50vw - 4rem) !important;
    width: calc(100vw - 6rem) !important;
  }

  div.expenses-card {
    max-height: calc(100vh - 6rem) !important;
  }

  .expenses-table-container {
    max-height: calc(100vh - 16rem) !important;
  }

  .expenses-modal > div {
    width: calc(100vw - 6rem);
  }
}

input {
  appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}