.login-loading {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2  ;
  background: #ffffff59;
  backdrop-filter: blur(2px);
}

.login-loading > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}