.login-loading {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2  ;
  background: #ffffff59;
  backdrop-filter: blur(2px);
}

.login-loading > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 800px) {
  .login-card {
    width: calc(60vw) !important;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .login-card {
    width: calc(100vw - 6rem) !important;
  }
}
